.grid-view{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

@media screen and (max-width: 632px) {
    .grid-view{
        justify-content: center;
    }
  }