
/* to make app clickable even with no content */
.App{
    min-height: 60dvh;
}

/* main page default style */

.main-page{
    margin: 1.5rem 0.5rem;
    margin-left: 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-placeHolder{
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-placeHolder .placeholder-light-icon{
    color: darkgray;
    transform: scale(2.5);
}

.empty-placeHolder p{
    margin-top: 4rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(173, 173, 173);
}

@media screen and (max-width: 357px) {
    .empty-placeHolder .placeholder-light-icon{
        transform: scale(1.9);
    }
    .empty-placeHolder p{
        margin-top: 2.8rem;
        font-size: 0.8rem;
    }
}